### Data Selection

Free recall studies to use in analysis of phonetic clustering.

- Scalp: ltpFR2 (sessions 0-22, final session has different words presented)
        
- Intracranial: FR1, pyFR, IFR1

In [1]:
# imports
import numpy as np
import pandas as pd; pd.set_option('display.max_columns', None)
import cmlreaders as cml
from tqdm.notebook import tqdm

In [3]:
df = cml.get_data_index()

df_intrac = df[df.experiment.isin(['FR1', 'pyFR', 'IFR1'])]
df_scalp = df[(df['experiment'] == 'ltpFR2') & (df['session'] != 23)]

In [4]:
df

,Recognition,all_events,contacts,experiment,import_type,localization,math_events,montage,original_experiment,original_session,pairs,ps4_events,session,subject,subject_alias,system_version,task_events
0,NaN,protocols/ltp/subjects/LTP063/experiments/ltpF...,NaN,ltpFR,build,0,protocols/ltp/subjects/LTP063/experiments/ltpF...,0,NaN,0,NaN,NaN,0,LTP063,LTP063,NaN,protocols/ltp/subjects/LTP063/experiments/ltpF...
1,NaN,protocols/ltp/subjects/LTP063/experiments/ltpF...,NaN,ltpFR,build,0,protocols/ltp/subjects/LTP063/experiments/ltpF...,0,NaN,1,NaN,NaN,1,LTP063,LTP063,NaN,protocols/ltp/subjects/LTP063/experiments/ltpF...
2,NaN,protocols/ltp/subjects/LTP063/experiments/ltpF...,NaN,ltpFR,build,0,protocols/ltp/subjects/LTP063/experiments/ltpF...,0,NaN,10,NaN,NaN,10,LTP063,LTP063,NaN,protocols/ltp/subjects/LTP063/experiments/ltpF...
3,NaN,protocols/ltp/subjects/LTP063/experiments/ltpF...,NaN,ltpFR,build,0,protocols/ltp/subjects/LTP063/experiments/ltpF...,0,NaN,11,NaN,NaN,11,LTP063,LTP063,NaN,protocols/ltp/subjects/LTP063/experiments/ltpF...
4,NaN,protocols/ltp/subjects/LTP063/experiments/ltpF...,NaN,ltpFR,build,0,protocols/ltp/subjects/LTP063/experiments/ltpF...,0,NaN,12,NaN,NaN,12,LTP063,LTP063,NaN,protocols/ltp/subjects/LTP063/experiments/ltpF...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,NaN,NaN,NaN,pyFR,NaN,0,NaN,0,NaN,NaN,NaN,NaN,2,UP045,NaN,NaN,NaN
374,NaN,NaN,NaN,pyFR,NaN,0,NaN,0,NaN,NaN,NaN,NaN,3,UP045,NaN,NaN,NaN
375,NaN,NaN,NaN,pyFR,NaN,0,NaN,0,NaN,NaN,NaN,NaN,0,UP046,NaN,NaN,NaN
376,NaN,NaN,NaN,pyFR,NaN,0,NaN,0,NaN,NaN,NaN,NaN,1,UP046,NaN,NaN,NaN
377,NaN,NaN,NaN,pyFR,NaN,0,NaN,0,NaN,NaN,NaN,NaN,2,UP046,NaN,NaN,NaN

In [11]:
df_sel = cml.get_data_index('ltp')

In [12]:
df_sel.groupby('experiment').agg(subject=('subject', 'nunique'), session=('session', 'count')).reset_index()

               experiment  subject  session
0  NiclsCourierClosedLoop       28       96
1    NiclsCourierReadOnly       34      202
2                    VFFR       57      465
3                ltpDBOY1        1        2
4   ltpDelayRepFRReadOnly       53      260
5                   ltpFR      282     3932
6                  ltpFR2      127     2470
7                ltpRepFR        7       68
8                  prelim       74       74

In [27]:
df_select = df_sel.query("experiment == 'prelim'")

In [29]:
df_scalp.subject.unique()

array(['LTP093', 'LTP106', 'LTP115', 'LTP117', 'LTP122', 'LTP123',
       'LTP133', 'LTP138', 'LTP187', 'LTP207', 'LTP210', 'LTP228',
       'LTP229', 'LTP236', 'LTP242', 'LTP246', 'LTP249', 'LTP250',
       'LTP251', 'LTP258', 'LTP259', 'LTP260', 'LTP265', 'LTP269',
       'LTP273', 'LTP274', 'LTP278', 'LTP279', 'LTP280', 'LTP281',
       'LTP283', 'LTP285', 'LTP287', 'LTP290', 'LTP293', 'LTP295',
       'LTP296', 'LTP297', 'LTP298', 'LTP299', 'LTP300', 'LTP301',
       'LTP302', 'LTP303', 'LTP304', 'LTP305', 'LTP306', 'LTP307',
       'LTP308', 'LTP309', 'LTP310', 'LTP311', 'LTP312', 'LTP313',
       'LTP314', 'LTP315', 'LTP316', 'LTP317', 'LTP318', 'LTP319',
       'LTP320', 'LTP321', 'LTP322', 'LTP323', 'LTP324', 'LTP325',
       'LTP326', 'LTP327', 'LTP328', 'LTP329', 'LTP330', 'LTP331',
       'LTP334', 'LTP336', 'LTP337', 'LTP338', 'LTP339', 'LTP340',
       'LTP341', 'LTP342', 'LTP343', 'LTP344', 'LTP346', 'LTP347',
       'LTP348', 'LTP349', 'LTP352', 'LTP353', 'LTP354', 'LTP355',
       'LTP356', 'LTP357', 'LTP358', 'LTP359', 'LTP360', 'LTP361',
       'LTP362', 'LTP363', 'LTP364', 'LTP365', 'LTP366', 'LTP367',
       'LTP368', 'LTP369', 'LTP370', 'LTP371', 'LTP372', 'LTP373',
       'LTP374', 'LTP375', 'LTP376', 'LTP377', 'LTP378', 'LTP379',
       'LTP381', 'LTP382', 'LTP383', 'LTP384', 'LTP385', 'LTP386',
       'LTP387', 'LTP388', 'LTP389', 'LTP390', 'LTP391', 'LTP392',
       'LTP393'], dtype=object)

In [28]:
df_select.subject.unique()

array(['PLTP736', 'PLTP737', 'PLTP738', 'PLTP739', 'PLTP740', 'PLTP741',
       'PLTP742', 'PLTP743', 'PLTP744', 'PLTP746', 'PLTP747', 'PLTP748',
       'PLTP749', 'PLTP750', 'PLTP751', 'PLTP752', 'PLTP754', 'PLTP756',
       'PLTP757', 'PLTP758', 'PLTP759', 'PLTP760', 'PLTP761', 'PLTP762',
       'PLTP763', 'PLTP764', 'PLTP765', 'PLTP766', 'PLTP767', 'PLTP768',
       'PLTP769', 'PLTP770', 'PLTP771', 'PLTP772', 'PLTP773', 'PLTP774',
       'PLTP775', 'PLTP776', 'PLTP777', 'PLTP778', 'PLTP779', 'PLTP780',
       'PLTP781', 'PLTP783', 'PLTP784', 'PLTP785', 'PLTP786', 'PLTP787',
       'PLTP788', 'PLTP789', 'PLTP790', 'PLTP791', 'PLTP792', 'PLTP793',
       'PLTP795', 'PLTP796', 'PLTP797', 'PLTP798', 'PLTP799', 'PLTP800',
       'PLTP801', 'PLTP802', 'PLTP803', 'PLTP805', 'PLTP806', 'PLTP807',
       'PLTP808', 'PLTP809', 'PLTP810', 'PLTP811', 'PLTP812', 'PLTP813',
       'PLTP814', 'PLTP815'], dtype=object)

In [20]:
all_words = []
for _, row in tqdm(df_select.iterrows()):
    reader = cml.CMLReader(row.subject, row.experiment, row.session)
    
    try:
        evs = reader.load('events')
        words = evs[(evs['type'] == 'WORD') | (evs['type'] == 'REC_WORD')].item_name.unique()
        all_words.extend(list(words))
    except BaseException as e:
        print(row.subject, row.experiment, row.session)

0it [00:00, ?it/s]

In [23]:
len(set(all_words)), np.unique(all_words)

(476,
 array(['AIR', 'ALLIGATOR', 'ANT', 'APE', 'APPLE', 'ARC', 'ARCH', 'ARK',
        'ARM', 'ARROW', 'AXE', 'BACK', 'BADGE', 'BAG', 'BALL', 'BAND',
        'BANK', 'BARK', 'BARN', 'BAT', 'BATCH', 'BATH', 'BEACH', 'BEAD',
        'BEAK', 'BEAN', 'BEAR', 'BEARD', 'BED', 'BEE', 'BEEF', 'BENCH',
        'BET', 'BIKE', 'BIRD', 'BLINK', 'BLOOM', 'BLOW', 'BLUE', 'BLUSH',
        'BOAR', 'BOARD', 'BOAT', 'BOG', 'BOMB', 'BOOK', 'BOOT', 'BOOTH',
        'BOWL', 'BOX', 'BOY', 'BRAKE', 'BRANCH', 'BRAND', 'BREAD', 'BREAK',
        'BREATH', 'BRICK', 'BRIDGE', 'BROOM', 'BRUSH', 'BURN', 'BUSH',
        'CAGE', 'CAKE', 'CALF', 'CAMP', 'CAN', 'CANE', 'CAP', 'CAPE',
        'CAPTAIN', 'CAR', 'CARE', 'CART', 'CASH', 'CASTLE', 'CAT', 'CAVE',
        'CHAIR', 'CHALK', 'CHEEK', 'CHEF', 'CHEST', 'CHICKEN', 'CHIEF',
        'CHIN', 'CLASP', 'CLAY', 'CLEAT', 'CLIFF', 'CLOAK', 'CLOCK',
        'CLOTH', 'CLOTHES', 'CLOUD', 'CLOUDS', 'CLOWN', 'COD', 'COIN',
        'CONE', 'COOL', 'CORD', 'CORE', 'CORN', 'COUCH', 'COW', 'CRANE',
        'CROW', 'CROWN', 'CUBE', 'CUP', 'DARK', 'DART', 'DEER', 'DESK',
        'DIME', 'DIRT', 'DITCH', 'DOCK', 'DOG', 'DOLL', 'DONKEY', 'DOOR',
        'DRESS', 'DRINK', 'DRUM', 'DRY', 'DUCK', 'DUMB', 'DUST', 'EAR',
        'EARTH', 'EAT', 'EEL', 'EGG', 'ELF', 'EYE', 'FACE', 'FACTORY',
        'FALL', 'FAN', 'FARM', 'FAULT', 'FEET', 'FENCE', 'FILM', 'FINE',
        'FIRE', 'FISH', 'FIXED', 'FLAG', 'FLAME', 'FLASH', 'FLAW', 'FLEA',
        'FLOOR', 'FLOSS', 'FLOWER', 'FLUSH', 'FLUTE', 'FLY', 'FOAM', 'FOG',
        'FOOD', 'FOOT', 'FORK', 'FORT', 'FORTRESS', 'FOUNTAIN', 'FOX',
        'FRIDGE', 'FROG', 'FRUIT', 'FUDGE', 'FUN', 'FUR', 'FURNACE',
        'FURRY', 'GARBAGE', 'GATE', 'GEESE', 'GIRL', 'GLASS', 'GLOVE',
        'GNOME', 'GOAT', 'GOD', 'GOLD', 'GOOSE', 'GRAPE', 'GRAPES',
        'GRASS', 'GREEN', 'GROOVE', 'GROUND', 'GUARD', 'GUM', 'HAND',
        'HAT', 'HAWK', 'HEART', 'HEEL', 'HEN', 'HILL', 'HIP', 'HOG',
        'HOLE', 'HOME', 'HOOF', 'HOOK', 'HOOVE', 'HOPE', 'HORN', 'HORSE',
        'HOSE', 'HOT', 'HOUSE', 'HUT', 'ICE', 'INCH', 'INK', 'IVY', 'JAIL',
        'JAR', 'JEEP', 'JET', 'JETSKI', 'JUDGE', 'JUICE', 'JUMP', 'KEY',
        'KITE', 'LAB', 'LAKE', 'LAMB', 'LAMP', 'LAND', 'LAWN', 'LEAF',
        'LEG', 'LENGTH', 'LIGHT', 'LINK', 'LION', 'LIP', 'LOCK', 'MAIL',
        'MAN', 'MAP', 'MARSH', 'MASK', 'MAT', 'MATH', 'MAZE', 'MIC',
        'MILK', 'MOLE', 'MONEY', 'MOON', 'MOOSE', 'MOTH', 'MOUSE', 'MOUTH',
        'MUD', 'MUG', 'MUHL', 'MULE', 'NAIL', 'NEST', 'NET', 'NIGHT',
        'NOSE', 'NURSE', 'OAK', 'OAR', 'OCEAN', 'ORE', 'OWL', 'PAIL',
        'PAIR', 'PAKE?', 'PALM', 'PANT', 'PANTS', 'PARK', 'PASTA', 'PASTE',
        'PEA', 'PEACH', 'PEAR', 'PEARL', 'PEN', 'PET', 'PHONE', 'PIE',
        'PIG', 'PIN', 'PIPE', 'PIT', 'PITCH', 'PLANE', 'PLANT', 'PLATE',
        'PLAY', 'POEM', 'POLE', 'POLICE', 'POND', 'POOL', 'PRINCE',
        'PRINT', 'PROM', 'PURSE', 'RABBITS', 'RACK', 'RAIN', 'RAKE',
        'RAMP', 'RAT', 'RIB', 'RICE', 'RING', 'RIVER', 'ROAD', 'ROCK',
        'ROOF', 'ROOM', 'ROOT', 'ROPE', 'ROSE', 'RUG', 'RUM', 'SAIL',
        'SALT', 'SAND', 'SCHOOL', 'SCOOP', 'SCREEN', 'SEA', 'SEAL', 'SEAT',
        'SEED', 'SHARK', 'SHED', 'SHEEP', 'SHEET', 'SHELF', 'SHELL',
        'SHIELD', 'SHIP', 'SHIRT', 'SHOE', 'SHORE', 'SHOVE', 'SHRIMP',
        'SIGN', 'SINK', 'SKI', 'SKIRT', 'SKUNK', 'SKUNT', 'SKY', 'SLEEVE',
        'SLIME', 'SLOPE', 'SLUSH', 'SMALL', 'SMASH', 'SMEAR', 'SMILE',
        'SMIRK', 'SMOKE', 'SNACK', 'SNAIL', 'SNAKE', 'SNOW', 'SOAP',
        'SOCK', 'SOUP', 'SPARE', 'SPARK', 'SPEAR', 'SPICE', 'SPLURGE',
        'SPONGE', 'SPOON', 'SPREAD', 'SPRING', 'SQUARE', 'STACK', 'STAIR',
        'STAIRS', 'STAKE', 'STAR', 'STEAK', 'STEAM', 'STEEL', 'STEM',
        'STICK', 'STONE', 'STOOL', 'STORE', 'STORM', 'STOVE', 'STRAW',
        'STREAM', 'STREET', 'STRING', 'STUCK', 'SUGAR', 'SUIT', 'SUN',
        'SWAMP', 'SWEEP', 'SWIM', 'SWING', 'SWORD', 'TABLE', 'TAIL',
        'TANK', 'TEA', 'TEETH', 'TENT', 'TEST', 'THREAD', 'THUMB', 'TIE',
        'TIRE', 'TOAD', 'TOAST', 'TOE', 'TOOL', 'TOOTH', 'TOY', 'TRAIN',
        'TRASH', 'TRAY', 'TREE', 'TRUCK', 'TRUNK', 'TUNNEL', 'TWIG', 'VAN',
        'VASE', 'VEST', 'VET', 'VINE', 'WADE', 'WALK', 'WALL', 'WAND',
        'WARM', 'WASH', 'WATCH', 'WATER', 'WAVE', 'WEATHER', 'WEB', 'WEED',
        'WHALE', 'WHEEL', 'WIND', 'WING', 'WINGS', 'WOLF', 'WOOD', 'WOODS',
        'WOOF', 'WORD', 'WORK', 'WORLD', 'WORM', 'WRENCH', 'YARD', 'ZOO'],
       dtype='<U9'))